@tailwind base;
@tailwind components;
@tailwind utilities;


#slider {
  position: relative;
  width: 100%;
  /* height: 100%; */
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.slider-img {
  display: none;
  width: 70%;
  height: 100%;
}

.slider-img.active {
  display: block;
}

@keyframes active {
  0% {opacity: 0;}
  50% {opacity: 0.5;}
  100% {opacity: 1;}
}

.active {
  animation: active 1s linear 0s;
}

#slide-buttons button {
  margin-top: 30px;
  background-color: #43daf4;
  border: 4px solid #024854;
  border-radius: 5px;
  font-size: 20px;
  padding: 5px 10px;
}

#auto, #stop {
  width: 70px;
}

#slide-buttons{
  display: flex;
  justify-content: center;
}

button {
  cursor: pointer;
}
